<div class="post" style="width:30%;display:inline-block;vertical-align: top;">  
  <h1>New post</h1>

  <% form_remote_for(Post.new) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :content %><br />
      <%= f.text_area :content %>
    </p>
    <p>
      <%= f.submit 'Create' %>
    </p>
  <% end %>
</div>

<div class="list" style="width:65%;display:inline-block; padding:5px; border:1px solid #aaa;">
  <h1>Listing posts</h1>
  <p><%= link_to "Back to groups", "/groups" %></p>

  <h3>Current Group: <%= current_group.name %></h3>
  <table id="posts_list" style="width:100%;">
    <%= render @posts %>
  </table>

</div>